$themes: (
  default: ("body-bg": #090f18,
    "primary": #6a45f3,
    "secondary": #625fff,
    "success": #00f867,
    "info": #9231ee,
    "warning": #fbcf33,
    "danger": #eb576b,
    "light": #bebcda,
    "dark": #04071b,
    "grey": #cbcbcb,
  ),
  dark: ("body-bg": #090f18,
    "primary": #6a45f3,
    "secondary": #625fff,
    "success": #00f867,
    "info": #9231ee,
    "warning": #fbcf33,
    "danger": #eb576b,
    "light": #bebcda,
    "dark": #04071b,
    "grey": #cbcbcb,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));